section#produtos{
    font-size: 1.5em;
}

section#produtos > div{

    flex-flow: row;

    border: 0px solid var(--color4);
}

section#produtos > div > div{
    border: 1px solid var(--color4);
}

@media screen and (min-width:1300px){
    section#inicio{
        margin: 100px 30px;
    }
    
    section#servicos{
        margin: 100px;
    }

    section#servicos h2{
        margin-bottom: 20px;
    }

    section#sobre-nos{
        margin: 100px;
    }
    
}