
@media screen and (min-width: 490px){

    div#inicio_top_box{
        padding: 10px 10px 15px;
        font-size: 1em;
    }


    div#inicio_top_box img{
        width: 200px;
        height: 200px;
    }

    div#inicio_bottom_box{
        padding: 15px;
    }

}

@media screen and (min-width: 500px){

    header{

        font-size: 1.3em;
    }

    nav{
        font-size: 1em;
    }

    main{
        padding: 10px;
    }

    section{
        border-radius: 15px;
        box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.221);
    }

    section#inicio{
        padding: 0px;
    }

    div#inicio_top_box{
        border-radius: 15px 15px 0px 0px;
    }

    div#inicio_bottom_box{
        border-radius: 0px 0px 15px 15px;
    }

    div#servico_diversao{
        border-radius: 0px 0px 15px 15px;
    }

    footer h3{
        margin-bottom: 10px;
    }

    footer ul img{
        width: 40px;
        height: 40px;
    }

}

h1{
    font-size: 2em;
}

main h2{
    font-size: 1.8em;
}

header{
    font-size: 1.1em;
}

nav{
    font-size: 1.1em;
}

nav li{
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);;
}

section#servicos{
    font-size: 1.1em;
}

section#sobre-nos{
    padding: 10px;

    font-size: 1.1em;
}

@media screen and (min-width: 450px) and (max-width: 499px) {
    section#servicos{
        font-size: 1.2em;
    }

    section#sobre-nos{
        font-size: 1.2em;
    }
}

@media screen and (min-width: 500px) and (max-width: 549px) {
    section#servicos{
        font-size: 1.3em;
    }

    section#sobre-nos{
        font-size: 1.3em;
    }
}

@media screen and (min-width: 550px) and (max-width: 599px) {
    section#servicos{
        font-size: 1.4em;
    }

    section#sobre-nos{
        font-size: 1.4em;
    }
}

section#servicos > div{
    padding: 10px 0px;
}

/* PRODUTOS */

section#produtos{
    font-size: 1.3em;
}

@media screen and (max-width: 489px) {
    section#produtos{
        margin: 100px 30px;
    }
}

@media screen and (min-width:490px) and (max-width: 549px) {
    section#produtos{
        margin: 100px 50px;
    }
}

@media screen and (min-width:550px) and (max-width: 599px){
    section#produtos{
        margin: 100px 80px;
    }
}


footer h3{
    font-size: 1.8em;
}

footer li{
    font-size: 1.3em;
}

div#redes ul{
    columns: 2;
}

@media screen and (max-width:499px){
    footer ul img{
        width: 35px;
        height: 35px;
    }
}

section#section_creditos{
    font-size: 1.1em;
}