header{
    font-size: 2.2em;
}

header img{
    width: 130px;
    height: 130px;
}

nav{
    font-size: 1.8em;
}

section#inicio{
    font-size: 1.5em;
}

section#servicos{
    font-size: 1.8em;
}

section#servicos img{
    width: 400px;
    height: 400px;
}

section#produtos{
    font-size: 1.6em;
}

section#sobre-nos{
    font-size: 1.8em;
}

footer{
    font-size: 1.5em;
}

footer ul img{
    width: 50px;
    height: 50px;
}

@media screen and (min-width:1100px){
    section#inicio img{
        width: 400px;
        height: 400px;
    }
}