header{

    font-size: 0.8em;

    background-image: linear-gradient(var(--color2) 80%, var(--color1) 100%);
}

header img{
    width: 80px;
    height: 80px;
}

nav{
    padding: 2px 0px;
    font-size: 0.8em; 

    color: var(--color3);
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.212);
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.384);
    background-color: var(--color1);
}

nav li{
    padding: 3px 0px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.171);
}

nav a{
    color: var(--color3);
}

/* INICIO */

section#inicio{
    text-align: center;

}

div#inicio_top_box{
    display: flex;

    justify-content: space-evenly;
    align-items: center;

    padding: 5px 3px 10px;

    font-size: 0.9em;

    background-image: linear-gradient(var(--color3) 90%, var(--color1));
}

div#inicio_top_box img{
    width: 150px;
    height: 150px;
}

div#inicio_bottom_box{
    padding: 5px;
    background-color: var(--color1);
}

/* SERVIÇOS */

section#servicos > div{
    display: flex;

    justify-content: center;
    flex-flow: wrap;

    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.438);
}

section#servicos > div > div{
    padding: 5px 10px;
}

section#servicos > div > div{
    flex-basis: 100%;
}

section#servicos h2{
    text-align: center;
}

div#servico_banho{
    background-color: var(--color2);
}

div#servico_massagem{
    background-color: var(--color1);
}

div#servico_diversao{
    background-color: var(--color3);
}

/* PRODUTOS */

section#produtos{
    padding-bottom: 10px;
}

section#produtos > div{
    max-width: 300px;
    margin: 10px auto;

    padding-top: 5px;

    border: 1px solid var(--color4);
}

section#produtos > div p{
    padding: 3px;
    border-top: 1px solid var(--color4);
}

/* SOBRE NÓS */
section#sobre-nos{
    padding: 10px;
}


/* FOOTER */

footer{
    max-width: 100%;

    font-size: 0.8em;

    color: var(--color3);

    background-color: var(--color4);
}

section#section_footer{
    display: flex;
    
    justify-content: space-evenly;

    margin: 0px;

    padding: 20px 0px;
}

section#section_footer h3{
    font-size: 1.5em;
}

section#section_footer > div > img{
    width: 0px;
    height: 0px;
}

section#section_footer ul li{
    text-align: center;
}

section#section_footer ul img{
    width: 20px;
    height: 20px;

    border-radius: 50%;
}

div#contatos ul li{
    text-align: left;
}

section#section_creditos{
    margin: 0px;
    text-align: center;
    border-radius: 0px;

    color: var(--color1);
    background-color: var(--color5);
}