@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}

:root{
    --color1:#E65EAF;
    --color2:#5EDCE6;
    --color3:#E5CD38;
    --color4:#918853;
    --color5:#664B5B;
}

img{
    width: 200px;
    height: 200px;
}

a{
    text-decoration: none;
}

h1{
    text-align: center;
}

header{
    display: flex;

    justify-content: center;
    align-items: center;
}

nav ul{
    display: flex;
    justify-content: space-evenly;

    list-style-type: none;
}

