@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;

}

:root{
    --color1:#ea7ee4;
    --color2:#5EDCE6;
    --color3:#fef77f;
    --color4:#918853;
    --color5:#664B5B;
}

body::-webkit-scrollbar{
    width: 5px;
}
body::-webkit-scrollbar-track {
    background-color: var(--color5);      
}
body::-webkit-scrollbar-thumb {
    border-radius: 20px;
    border: 3px solid var(--color4);
}

main{
    padding: 5px;

    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.295);
}

section{
    margin-top: 30px;
}

img{
    width: 200px;
    height: 200px;
}

a{
    text-decoration: none;
}

h1{
    text-align: center;
}

ul{
    list-style-type: none;
}

header{
    display: flex;

    justify-content: center;
    align-items: center;
}

nav ul{
    display: flex;
    justify-content: space-evenly;
}

